<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/shop-homepage.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>입찰</h1>
    <center>
      <div class="money">
        <table class="table table-striped table-bordered">
          <tr>
            <td>현재 가격</td>
            <td>30000</td>
          </tr>
          <tr>
            <td>입찰 가격</td>
            <td><input type="number" value="point">원</td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn btn-primary" onclick="self.close();">입찰</button>
    </center>
  </div>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
